@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './global.css';

/* body */

body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif !important;
  font-size: 18px;
}

/* end of body*

/* custom scroll bar */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar width */
  height: 5px; /* Thin scrollbar height */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3); /* Subtle gray, semi-transparent */
  border-radius: 2px; /* Rounded corners */
  transition: background 0.2s ease; /* Smooth transition */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7); /* Brighter on hover */
  cursor: pointer;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* end of custom scroll bar */
/* Draggable */

.drag-area {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* focus event for buttons */
/* index.css */
button {
  outline: none;
  box-shadow: none;
}

button:focus,
button:focus-visible,
button:focus-within {
  outline: none;
  box-shadow: none;
}
