@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './global.css';

/* body */

body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif !important;
  font-size: 18px;
}

/* end of body*

/* custom scroll bar */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Darker on hover */
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* end of custom scroll bar */
/* Draggable */

.drag-area {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* focus event for buttons */
/* index.css */
button {
  outline: none;
  box-shadow: none;
}

button:focus,
button:focus-visible,
button:focus-within {
  outline: none;
  box-shadow: none;
}
