@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body */

body {
  font-family: Lato;
  font-size: 18px;
}

/* end of body*

/* custom scroll bar */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Darker on hover */
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

/* end of custom scroll bar */
/* Draggable */

.drag-area {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/* focus event for buttons */
/* index.css */
button {
  outline: none;
  box-shadow: none;
}

button:focus,
button:focus-visible,
button:focus-within {
  outline: none;
  box-shadow: none;
}